
.nav-link {
    color: white !important;
  }
  
 
  .navbar-bgd {
    background-color: skyblue;
    color: white;
  }
  
  .amazon-logo {
    width: 75px;
    float: left;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 12px;
  }
 
  