.product-list ul li{
    display: inline-block;
    border: 1px solid skyblue;
    width: 150px;
  }
  .product-list ul{
    margin: 0;
  }
  .search-product-box{
    width: 400px;
    margin: 20px;
    height: 40px;
    border: 1px solid skyblue;
    padding-left: 20px;
  }